.Editor {
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;
  max-width: 1200px;
  height: calc(100vh - 72px);
  margin: 0 auto;
  padding: 16px 0 16px 0;
  order: 1;
  position: relative;
  background: #1e1e1e;
}

.Editor.split {
  flex: 1 0 50%;
  max-width: 50%;
}
