.Editor {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 50%;
  order: 1;
  padding: 16px;
}

.Editor.split {
  width: 50%;
}

.Editor textarea {
  font-family: 'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono',
    monospace;
  white-space: pre-wrap;
  background: #f1f1f1;
  color: #111;
  flex: 1 0 100%;
  width: 100%;
  min-height: 500px;
  padding: 20px;
  font-size: 14px;
  line-height: 1.5;
  border: none;
}
