.Preview {
  display: flex;
  flex: 1 0 100%;
  padding: 16px 16px 16px 0;
  order: 2;
}

.Preview.split {
  flex: 1 0 50%;
  max-width: 50%;
}

.Preview-document {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-width: 978px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.Preview-heading {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  margin: 0 0 8px;
  padding: 9px 10px 10px 9px;
  background: #f6f8fa;
  border-bottom: 1px solid #ddd;
  border-radius: 3px 3px 0 0;
}

.Preview-title {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}

.Preview-body {
  height: min-content;
  padding: 24px;
  overflow: hidden;
  overflow-y: auto;
}
